{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="center">
        <form method="POST">
            {% csrf_token %}
            <h1>Signup</h1>
            <div class="form">
                {{ form.username }}
                {{ form.email }}
                {{ form.password1 }}
                {{ form.password2 }}
                <button type="submit" class="btn">Signup</button>
            </div>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div>
</body>
</html>
